$name-color: #2F4F4F;

body {
  margin: 0;
}

#floyd {
  background-color: aqua;
}

.people {
  display: grid;
  grid-template-columns: repeat(2, 200px);
  gap: 40px 30px;
  justify-content: center;
  padding-top: 30px;
  margin: 0;

  @media (min-width: 1000px) {
    & {
      grid-template-columns: repeat(4, 200px);
    }
  }
}

.grid__item {
  position: relative;
  height: 231px;
}

.people__person {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
  width: 100%;
  position: absolute;
  border-radius: 10px;

  &:hover {
    transform: scale(1.1);
    z-index: 10;

    .person__photo {
      padding: 10px 10px 0 10px;
    }

    .person__extra {
      opacity: 1;
      max-height: 200px;
    }
  }
}


.person {
  &__photo {
    position: relative;
    height: 200px;
    margin-bottom: 8px;
  }

  &__img {
    width: 200px;
    border-radius: 50%;
  }

  &__rank {
    position: absolute;
    right: 10px;
    top: 84px;
    bottom: 84px;
    color: #8B0000;
    background-color: #FFFFFF;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    text-align: center;
    line-height: 32px;
    font-weight: 700;
  }

  &__name {
    font-weight: 700;
    color: $name-color;
    font-size: 20px;
  }

  &__extra {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    padding-top: 9px;
    padding-bottom: 16px;
  }
}
